<h1>Upload new file</h1>

<%= form_for(@document) do |f| %>
  <div class="form-group">
    <%= f.label :file %>

    <%= f.file_field :file, class: 'form-control-file' %>
  </div>

  <%= f.submit %>
<% end %>
